{% extends "patterns/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block page_content %}
    <main id="main">
    <!-- Main Content -->
        <article class="article card-layout">
            <header class="article__header">
            <!-- Article Header -->
                <h1>{{ page.title }}</h1>
                {% if page.first_published_at %}
                    <p class="article__date text-small">
                        {{ page.first_published_at|date:"M j, Y"}}
                    </p>
                {% endif %}
                <div class="article__intro">
                    {{ page.intro|richtext }}
                </div>
            </header>
            <div>
                {% include_block page.body %}
            </div>
        </article>
    </main>
{% endblock page_content %}
