services:
  nginx:
    image: nginx:1.29
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NGINX_SERVER_NAME=${NGINX_SERVER_NAME:?Must set nginx server name}
      - NGINX_SSL_CERT_FILE=/nginx_ssl_cert_file
      - NGINX_SSL_KEY_FILE=/run/secrets/nginx_ssl_key_file
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/templates:/etc/nginx/templates
      - ./public:/srv/app/public:ro
      - static_files:/srv/app/static/:ro
      - media_files:/src/app/media/:ro
    configs:
      - nginx_ssl_cert_file
    secrets:
      - nginx_ssl_key_file

  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER:?Must set postgres user name}
      - POSTGRES_DB=${POSTGRES_DB:?Must set postgres database name}
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password_file
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/postgres/scripts/:/docker-entrypoint-initdb.d/
    secrets:
      - postgres_password_file

  django:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    restart: unless-stopped
    environment:
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS:?Must set allowed hosts}
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key_file
      - DJANGO_LOG_LEVEL=${DJANGO_LOG_LEVEL:-WARNING}
      - MEMCACHED_LOCATIONS=memcached:11211
      - POSTGRES_USER=${POSTGRES_USER:?Must set postgres user name}
      - POSTGRES_DB=${POSTGRES_DB:?Must set postgres database name}
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password_file
      - POSTGRES_HOST=postgres
      - UMAMI_HOST=${UMAMI_HOST}
    volumes:
      - static_files:/app/static/:rw
      - media_files:/app/media/:rw
    secrets:
     - django_secret_key_file
     - postgres_password_file
  
  memcached:
    image: memcached:1.6
    restart: unless-stopped

configs:
  nginx_ssl_cert_file:
    file: ${NGINX_SSL_CERT_FILE:?Must set nginx ssl cert file}

secrets:
  nginx_ssl_key_file:
    file: ${NGINX_SSL_KEY_FILE:?Must set nginx ssl key file}
  postgres_password_file:
    file: ${POSTGRES_PASSWORD_FILE:?Must set postgres password file}
  django_secret_key_file:
    file: ${DJANGO_SECRET_KEY_FILE:?Must set django secret key file}

volumes:
  static_files:
  media_files:
  db_data: