{% extends 'patterns/base.html' %}

{% block body_class %}template-activity-index{% endblock %}
{% block page_content %}
    <div class="activity-index-content">
        <main id="main">
            <div>
                <h1 class="intro__header text-very-large">
                    Activity
                </h1>
                {% include "patterns/components/activity/recent_activity.html" %}
            </div>
            <div class="article__list flex-column" data-gap="lg">
                {% for date_key, activities in activities_by_day.items %}
                    <h2>{{ date_key }}</h2>
                    <ul class="unstyled-list">
                        {% for activity in activities %}
                            {% with activity.get_activity_url as activity_url %}
                                <li>
                                    {% if activity_url %}<a href="{{ activity_url }}">{% endif %}{{ activity.get_activity_description }}{% if activity_url %}</a>{% endif %}
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                    {% if forloop.last %}
                        {% include "patterns/components/pagination/pagination.html" %}
                    {% endif %}
                {% empty %}
                    <p>No activity found.</p>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock page_content %}