{% extends "patterns/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block page_content %}
    <div class="search">
        <main id="main">
            <div>
                <h1 class="intro__header text-very-large">
                    Search
                </h1>
            </div>

            <div class="search__form">
                {% include "patterns/components/search/form.html" %}
            </div>

            <div class="article__list flex-column" data-gap="lg">
                {% for search_result in pagination_page %}
                    {% with search_result.specific as search_result %}
                        {% include search_result.get_search_summary_template with object=search_result %}
                    {% endwith %}
                {% empty %}
                    {% if search_query %}
                        <p>No search results found.</p>
                    {% endif %}
                {% endfor %}
                {% if pagination_page %}
                    {% include "patterns/components/pagination/pagination.html" %}
                {% endif %}
            </div>
        </main>
    </div>
{% endblock page_content %}