@view-transition {
  navigation: auto;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
    :root {
        --crimson: crimson;

        --white: #ffffff;

        --gray-light: #f9f9f9;
        --gray: #e0e0e0;
        --gray-dark: #666666;
        --gray-very-dark: #333333;

        --border-radius-small: 0.25rem;
        --border-radius: 0.5rem;

        --primary: var(--crimson);
        --background: var(--white);
        --background-subtle: var(--gray-light);
        --border-color: var(--gray);

        --text-primary-contrast: var(--gray-very-dark);
        --text-dark: var(--gray-very-dark);
        --text: var(--gray-dark);


        --shadow-color: rgba(102, 102, 102, 0.2);

        --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        --font-regular: 1rem;
    }

    html {
        font-family: var(--font-family);
        line-height: 1.6;
    }

    body {
        font-size: var(--font-regular);
        color: var(--text);
        background-color: var(--background);
        padding: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--text-dark);
        font-weight: 700;
    }

    .body-container {
        margin: 0 auto;
        max-inline-size: 960px;
    }

    a {
      --link-color: var(--primary);
      --link-hover-color: var(--primary);
      --link-decoration: none;
      --link-hover-decoration: underline;

      color: var(--link-color);
      text-decoration: var(--link-decoration);
      transition: color 0.25s;
    }

    a:hover, a:focus-visible {
      color: var(--link-hover-color);
      text-decoration: var(--link-hover-decoration);
    }
}

@layer layouts {
  .card-layout {
    display: grid;
    grid-template: 
      "header" auto
      "body" 1fr
      "footer" auto / auto;

    row-gap: 1rem;
  }
}

@layer components {
  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .skip-to-main {
    position: absolute;
    padding: 1rem;
    background-color: var(--background-subtle   );
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px var(--shadow-color);

    --link-color: var(--primary);
} 

  .card {
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px var(--shadow-color);
  }

  .article-card__header {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .article__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .article__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .article__intro {
    border-bottom: 1px dashed var(--border-color);
    padding-block-end: 1rem;
    margin-block-end: 1rem;
  }

  .article__date {
    order: -1;
  }

  .home-content {
    display: grid;
    grid-template:
      "intro intro"
      "main aside" / 3fr 1fr;

    column-gap: 4rem;
    row-gap: 2rem;


    @media (width < 960px) {
      grid-template:
        "intro" auto
        "main" auto
        "aside" auto / 1fr;
    }
  }

  .home__intro {
    grid-area: intro;
  }

  .site-header {
    border-block-end: 1px solid var(--border-color);
    padding-block-end: 2rem;
    margin-block-end: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow-x: clip;
  }

  .site-footer {
    border-block-start: 1px solid var(--border-color);
    padding-block: 4rem;
    margin-block-start: 4rem;
    text-align: center;
  }

  .intro__header {
    padding-block-end: 2rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .sidebar-item__title {
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 2px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--text);
    padding-block-end: 1.5rem;
  }

  .sidebar-social__list {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
  }

  .social__link {
    --link-color: var(--text);
    --icon-color: var(--link-color);

    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding-block-end: 0.25rem;

    &:hover, &:focus-visible {
      --icon-color: var(--link-hover-color);
    }
  }

  .social__icon {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      fill: var(--icon-color);
    }
  }

  .nav__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .nav__link {
    --link-color: var(--text);
  }

  #main-nav {
    @media (width < 768px) {
      display: none;
      opacity: 0;
      transition: opacity 1s, display 1s, translate 1s;
      transition-behavior: allow-discrete;
      translate: 100% 0;

      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;

      .nav__list {
        flex-direction: column;
        gap: 1rem;
        border-left: var(--border-color) solid 1px;
        border-bottom: var(--border-color) solid 1px;
        background-color: var(--background);
        margin-block: 0;
        padding-inline: 4rem;
        padding-block-end: 1.5rem;
        padding-block-start: 3rem;
      }
    }
  }

  [aria-controls="main-nav"] {
    position: relative;
    z-index: 100;
    cursor: pointer;

    --icon-color: var(--text);

    background: var(--background-subtle);
    border: var(--border-color) solid 1px;
    border-radius: var(--border-radius-small);

    display: none;

    &:hover, &:focus-visible {
      --border-color: var(--primary);
      --icon-color: var(--primary);
    }

    @media (width < 768px) {
      display: grid;
      place-content: center;

      &[aria-expanded="true"] ~ #main-nav {
        display: block;
        opacity: 1;
        translate: 0 0;

        @starting-style {
          opacity: 0;
          translate: 100% 0;
        }
      }
    }
  }

  .nav__icon {
    height: 1.5rem;
    width: 1.5rem;

    fill: var(--icon-color);
  }

  .brand-link {
    --link-color: var(--text-dark);
    --link-hover-decoration: none;

    font-weight: 500;

    .highlight {
      color: var(--primary);
    }
  }

  .header__link {
    --link-color: var(--text-dark);
    --link-hover-decoration: none;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0 auto;
  }

  .pagination__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 0.5rem;
  }

  .pagination__link {
    &.active {
      --link-decoration: underline;
    }
  }

  .pagination__disabled {
    color: var(--text);
  }

  .error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-block: 5rem;
  }

  .book-content {
    display: grid;

    gap: 2rem 1rem;

    grid-template: 
      "image info"
      "intro intro"
      "notes notes" / 1fr 2fr;

    @media (width < 960px) {
      grid-template:
        "image" auto
        "info" auto
        "intro" auto
        "notes notes" auto / 1fr;
    }
  }

  .book__intro {
    grid-area: intro;
  }

  .book__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .book__author__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block
    }
  }

  .book__list {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    margin-block-start: 2rem;
  }

  .book__card__title {
    margin-block-start: 1rem;
  }

  .book__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (width < 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .book__image {
    display: grid;
    place-content: center;
  }

  .book__notes {
    grid-area: notes;

    & >:not(:last-child) {
      margin-block-end: 1rem;
    }
  }

  .book__note__date {
    color: var(--primary);
    font-weight: bolder;
  }
}

@layer utilities {
  .text-very-large {
    font-size: 2.5rem;
  }

  .text-heading-small {
    font-size: 1.1rem;
  }

  .text-large {
    font-size: 1.5rem;
  }

  .text-small {
    font-size: 0.9rem;
  }

  .arrow-link {
    display: inline-flex;
    gap: 0.25rem;
    transition: gap 0.25s;
  }

  .arrow-link:hover, .arrow-link:focus-within {
    gap: 0.5rem;
  }

  .arrow-link[data-direction="right"]::after {
    content: "→";
    margin-inline-end: 0.25rem;
    transition: margin 0.25s;
  }
  
  .arrow-link[data-direction="right"]:hover::after, .arrow-link[data-direction="right"]:focus-within::after {
    margin-inline-end: 0rem;
  }

  .arrow-link[data-direction="left"]::before {
    content: "←";
    margin-inline-start: 0.25rem;
    transition: margin 0.25s;
  }

  .arrow-link[data-direction="left"]:hover::before, .arrow-link[data-direction="left"]:focus-within::before {
    margin-inline-start: 0rem;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .highlighted-text {
    padding-inline-start: 1rem;
    border-inline-start: 3px solid var(--primary);
  }

  .meter {
    background-color: var(--border-color);
    height: 0.4rem;
    border-radius: var(--border-radius);
    overflow: hidden;

    margin-block: 0.5rem;

    span {
      background-color: var(--primary);
      height: 100%;
      display: block;
    }
  }
}

@layer prism {
  /* Remove the background color on PrismJS and add a subtle border */
  :not(pre)>code[class*=language-], pre[class*=language-] {
    background: 0 0 !important;
    border: 1px solid var(--border-color)
  }
}