@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
    :root {
        --orange-very-light: #fff3e0;
        --orange-light: #ff6d00;
        --orange-dark: #e65100;

        --white: #ffffff;

        --gray-light: #f9f9f9;
        --gray: #e0e0e0;
        --gray-dark: #666666;
        --gray-very-dark: #333333;

        --border-radius: 0.5rem;

        --primary: var(--orange-dark);
        --background: var(--white);
        --text-dark: var(--gray-very-dark);
        --text: var(--gray-dark);

        --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        --font-regular: 1rem;
    }

    html {
        font-family: var(--font-family);
        line-height: 1.6;
    }

    body {
        font-size: var(--font-regular);
        color: var(--text);
        background-color: var(--background);
        padding: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        color: var(--text-dark);
        font-weight: 700;
    }

    .body-container {
        margin: 0 auto;
        max-inline-size: 960px;
    }
}