{% load custom_tags wagtailcore_tags %}

<div class="nav__wrapper" data-gap="lg" data-controller="nav">
    {% if menu_items %}
        <button aria-controls="main-nav" aria-expanded="false" class="nav__button grid-center" data-nav-target="button" data-action="nav#toggle">
            <span class="visually-hidden">Menu</span>
            {% svg_icon 'bars' class_name="nav__icon" %}
        </button>
        <!-- Nav Container -->
        <nav id="main-nav" aria-label="Main Navigation">
        <!-- Navigation -->
            <ol class="nav__list unstyled-list" data-gap="lg">
                {% for menu_item in menu_items %}
                    <li>
                        <a href="{% pageurl menu_item %}" class="nav__link text-small">{{ menu_item.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    {% endif %}
    <button class="nav__button grid-center" id="theme-toggle" data-controller="theme" data-action="theme#toggle">
        <span class="visually-hidden">Toggle Theme</span>
        {% svg_icon 'theme' class_name="nav__icon" %}
    </button>
</div>