{% load custom_tags wagtailcore_tags %}

{% if menu_items %}
    <div class="nav__wrapper">
        <button aria-controls="main-nav" aria-expanded="false">
            <span class="visually-hidden">Menu</span>
            {% svg_icon 'bars' class_name="nav__icon" %}
        </button>
        <!-- Nav Container -->
        <nav id="main-nav">
        <!-- Navigation -->
            <ol class="nav__list">
                {% for menu_item in menu_items %}
                    <li>
                        <a href="{% pageurl menu_item %}" class="nav__link text-small">{{ menu_item.title }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endif %}