{% load static %}

<section>
    <!-- Social -->
    <h2 class="sidebar-item__title text-heading-small">{{ value.title }}</h2>
    {% if settings.core.SocialMediaLinks.links %}
        <ul class="sidebar-social__list">
            {% for link in settings.core.SocialMediaLinks.links %}
                <li>
                    {% with 'icons/'|add:link.value.type|add:'.svg' as icon_static %}
                        <a href="{{ link.value.url }}" target="_blank" class="social__link"><img class="social__icon" src="{% static icon_static %}" alt="">{{ link.value.display }}</a>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>