{% load wagtailcore_tags %}

{% with object as article %}
    <article class="card card-layout">
        <!-- Article Card -->
        <header class="article-card__header flex-column" data-gap="sm">
            <!-- Card Header -->
            <h2><a href="{% pageurl article %}" class="header__link">{{ article.title }}</a></h2>
            {% if article.first_published_at %}
                <p class="text-small article__date">
                    {{ article.first_published_at|date:"M j, Y"}}
                </p>
            {% endif %}
        </header>
        <div class="article-card__body">
            <!-- Card Body -->
            <div>
                {{ article.intro|richtext }}
            </div>
            {% include "patterns/components/tags/tag_list.html" with tags=article.tags.all label="tags" %}
        </div>
        <footer>
            <!-- Card Footer -->
            <a href="{% pageurl article %}" class="arrow-link" data-direction="right">Read Article <span class="visually-hidden">{{ article.title }}</span></a>
        </footer>
    </article>
{% endwith %}