{% extends "patterns/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block page_content %}
<div>
    <!-- Content -->
    <section>
        {% include "patterns/components/intro/intro.html" %}
    </section>
    <main>
        <!-- Main Content -->
        <div>
            <!-- Article List -->
            {% for feed_item in feed_items %}
                {% include feed_item.get_summary_template with object=feed_item %}
            {% empty %}
                <p>No items found.</p>
            {% endfor %}
        </div>
    </main>
    {% if page.sidebar %}
        <aside>
            {% include_block page.sidebar %}
        </aside>
    {% endif %}
</div>
{% endblock page_content %}
