name: CI
on:
  push:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked

      - name: Run ruff linter
        run: uv run ruff check --output-format=github

      - name: Run ruff formatter
        run: uv run ruff format --check
      
      - name: Check template formatting
        run: git ls-files "*.html" | xargs uv run djhtml --check

      - name: Run the tests
        run: uv run pytest