{% load wagtailcore_tags %}

<header>
    <!-- Header -->
    <div>
        <!-- Home Link -->
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}
            <a href="{{ current_site.root_url }}">
                {{ current_site.site_name }}
            </a>
        {% endif %}
    </div>
    <div>
        <!-- Nav Container -->
        <nav>
            <!-- Navigation -->
            <ol>
                <li><a href="#">Articles</a></li>
                <li><a href="#">About</a></li>
            </ol>
        </nav>
    </div>
</header>